*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
bin/ 
gen/ 
out/
*.jks 
*.keystore
proguard/ 
proguard-rules.pro
obj/ 
*.so
*.orig 
.DS_Store 
*.swp 
*.swo 
*.swn 
.#
.navigation/
.cxx/
*.lnk
*.ipr
